header {
  background-color: lightgrey;
  margin: 0;
  padding: 10px;
}
h1 {
  padding-left: 10px;
}

nav {
  padding-left: 40px;
  display: flex;
  justify-content: flex-end;
}

a {
  margin: 0 10px;
}